{% extends "gabarit.twig" %}


{% block title %}
    Convocations sportives - Accueil
{% endblock %}

{% block contenu %}
<div class="col py-5">
    <div class="bs-callout" style="border-left-color: #001D6E">
        Bienvenue sur ce site de convocations sportives !<br>
        Consultez les différentes convocations publiées et suivez de près les matchs à venir.
    </div>
    <div class="bs-callout" style="border-left-color: #eeeeee">
        Connectez-vous pour acceder aux effectifs des joueurs du club, aux absences, aux matchs de la saison.
    </div>
    <div class="bs-callout" style="border-left-color: #D60920">
        Composez vos équipes, éditez et publiez les convocations, gérez les modalités de matchs en fonction selon votre poste.
    </div>
</div>


<div class="row pt-5">
    <div class="row">
        <h1 class="col-5">Convocations publiées</h1>
        <div class="alert alert-info alert-dismissible fade show col-6" role="alert">
            <strong>Note :</strong> Cliquez sur l'intitulé d'une convocation pour acceder aux informations la concernant.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
    <div class="col-8">
        <table class="table border table-striped table-hover">
            {% for convocationPubliee in convocationsPubliees %}
                <tr>
                    <td><a href="index.php?action=informationsConvocation&num={{ convocationPubliee['NumConvoc'] }}" class="btn text-center" role="button" style="text-align: left; width: 100%">
                            {{ convocationPubliee['Equipe'] }} (le {{ convocationPubliee['Date']|date("d/m/Y") }}) - {{ convocationPubliee['Competition'] }} à {{ convocationPubliee['Site'] }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucune convocation n'a été publiée</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
