{% extends "gabarit.twig" %}

{% block isConvocation %}
    active
{% endblock %}

{% block title %}
    Convocations sportives - Convocations
{% endblock %}

{% block contenu %}
{% if role == 'E' %}
    <div class="row py-5">
        <h1 class="mb-3">Ajouter une Convocation</h1>
        <form method="post" action="index.php?action=ajouterConvocation">
            <div class="form-group row mb-3">
                <label for="convocationMatch" class="col-1 col-form-label">Match : </label>
                <div class="col-7">
                    <select name="num" id="convocationMatch" class="form-select">
                        {% for match in matchsConvocables %}
                            <option value="{{ match['NumMatch'] }}">{{ match['Equipe'] }} (le {{ match['Date']|date("d/m/Y") }}) - {{ match['Competition'] }} à {{ match['Site'] }}</a></td></option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row justify-content-center mt-3">
                <button type="submit" class="btn btn-primary col-3">Créer et éditer la convocation</button>
            </div>
        </form>
    </div>
{% endif %}


<div class="row pt-5">
    <div class="row">
        <h1 class="col-5 mb-3">Convocations par match</h1>
        <div class="alert alert-info alert-dismissible fade show col-7" role="alert">
            <strong>Note :</strong> Cliquez sur l'intitulé d'une convocation pour acceder aux informations la concernant.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="row">
        {% if role == 'E' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Information importante :</strong> Une convocation ne peut être publiée que si au moins 11 joueurs y sont convoqués.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    </div>
    <div class="col">
        <table class="table border table-striped table-hover">
            <thead>
            <tr>
                <th>Convocation</th>
                <th class="text-center">Nombre de joueurs</th>
                {% if role == 'E' %}
                <th class="text-center">Modifier</th>
                <th class="text-center">Publier</th>
                <th class="text-center">Supprimer</th>
                {% else %}
                <th class="text-center">État</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for convocation in convocations %}
                    <tr>
                        <td>
                            <a href="index.php?action=informationsConvocation&num={{ convocation['NumConvoc'] }}" class="btn" role="button" style="text-align: left; width: 100%">
                                {{ convocation['Equipe'] }} (le {{ convocation['Date']|date("d/m/Y") }}) - {{ convocation['Competition'] }} à {{ convocation['Site'] }}</a>
                        </td>
                        <td class="text-center">{{ convocation['NbJoueurs'] }}</td>
                        {% if role == 'E' %}
                        <td class="text-center">
                            <form method="post" action="index.php?action=accesModifierConvocation&num={{ convocation['NumConvoc'] }}">
                                <button type="submit" class="btn btn-outline-dark border-0" {% if convocation['Publie'] %} hidden {% endif %}><i class="fa fa-pen"></i></button>
                            </form>
                        </td>
                        <td class="text-center"><form method="post" action="index.php?action={% if convocation['Publie'] %}depublier{% else %}publier{% endif %}">
                                <input type="hidden" name="num" value="{{ convocation['NumConvoc'] }}" />
                                <button type="submit" id="publication" {% if convocation['NbJoueurs'] < 11 %} disabled {% endif %} {% if convocation['Publie'] %} class="btn btn-outline-secondary border-0"> <i class="fa fa-eye-slash"></i> {% else %} class="btn btn-outline-primary border-0"><i class="fa fa-eye"></i> {% endif %}</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form method="post" action="index.php?action=supprimerConvocation">
                                <input type="hidden" name="num" value="{{ convocation['NumConvoc'] }}" />
                                <button type="submit" class="btn btn-outline-danger border-0"><i class="fa fa-trash-alt"></i></button>
                            </form>
                        </td>
                        {% else %}
                            <td class="text-center">{% if convocation['Publie'] %}<span class="badge bg-success">Publiée</span>
                            {% elseif convocation['NbJoueurs'] < 11 %}<span class="badge bg-dark">Incomplète</span></td>
                            {% else %}<span class="badge bg-warning">Complète</span></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun convocation en cours</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row pt-5">
    <h1 class="mb-3">Convocations publiées</h1>
    <div class="col-9">
        <table class="table border table-striped table-hover">
            <thead>
            <tr>
                <th>Convocation Publiée</th>
                {% if role == 'E' %}
                <th class="text-center">Dépublier</th>
                {% endif %}
            </tr>
            </thead>
            {% for convocationPubliee in convocationsPubliees %}
                <tr>
                    <td><a href="index.php?action=informationsConvocation&num={{ convocationPubliee['NumConvoc'] }}" class="btn" role="button" style="text-align: left; width: 100%">
                            {{ convocationPubliee['Equipe'] }} (le {{ convocationPubliee['Date']|date("d/m/Y") }}) - {{ convocationPubliee['Competition'] }} à {{ convocationPubliee['Site'] }}</a></td>
                    {% if role == 'E' %}
                    <td class="text-center"><form method="post" action="index.php?action=depublier">
                            <input type="hidden" name="num" value="{{ convocationPubliee['NumConvoc'] }}" />
                            <button type="submit" class="btn btn-outline-secondary border-0"><i class="fa fa-eye-slash"></i></button></form></td>
                    {% endif %}
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucune convocation n'a été publiée</td>
                    </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script src="JS/selectionJoueurs.js"></script>
{% endblock %}

