{% extends "gabarit.twig" %}

{% block isConvocation %}
    active
{% endblock %}


{% block title %}
Convocations sportives
{% endblock %}

{% block contenu %}
<!---------------------- CONVOCATION ---------------------->

<!-- voir la liste des convocs pour un match (tous les joueurs qui sont convoqués) -->
<!-- voir la liste des convocs pour un joueur (tous les matchs auxquels est convoqué le joueur) -->
<!-- ici la liste de toutes les convocs, le joueur et le match -->
<div class="row pt-5">
    <div class="row">
        <h1 class="col-5">Convocations par match</h1>
        <div class="alert alert-info alert-dismissible fade show col-7" role="alert">
            <strong>Note:</strong> Cliquez sur l'intitulé d'une convocation pour acceder aux informations la concernant.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="col">
        <table class="table border table-striped table-hover">
            <thead>
            <tr>
                <th>Convocation</th>
                <th>Modifier</th>
                <th>Publier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
                {% for convocation in convocations %}
                    <tr>
                        <td>
                            <a href="index.php?action=informationsConvocation&num={{ convocation['NumConvoc'] }}" class="btn" role="button" style="text-align: left; width: 100%">
                                {{ convocation['Competition'] }} - {{ convocation['Equipe'] }} (le {{ convocation['Date']|date("d/m/Y") }})</a>
                        </td>
                        <td>
                            <form method="post" action="index.php?action=accesModifierConvocation&num={{ convocation['NumConvoc'] }}">
                                <button type="submit" class="btn btn-outline-dark border-0" {% if convocation['Publie'] %} hidden {% endif %}><i class="fa fa-pen"></i></button>
                            </form>
                        </td>
                        <td><form method="post" action="index.php?action={% if convocation['Publie'] %}depublier{% else %}publier{% endif %}">
                                <input type="hidden" name="num" value="{{ convocation['NumConvoc'] }}" />
                                <button type="submit" id="publication" {% if convocation['Publie'] %} class="btn btn-outline-secondary border-0"> <i class="fa fa-eye-slash"></i> {% else %} class="btn btn-outline-primary border-0"><i class="fa fa-eye"></i> {% endif %}</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="index.php?action=supprimerConvocation">
                                <input type="hidden" name="num" value="{{ convocation['NumConvoc'] }}" />
                                <button type="submit" class="btn btn-outline-danger border-0"><i class="fa fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun convocation en cours</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row pt-5">
    <h1>Convocations Publiées</h1>
    <div class="col-9">
        <table class="table border table-striped table-hover">
            <thead>
            <tr>
                <th>Convocation Publiée</th>
                <th>Dépublier</th>
            </tr>
            </thead>
            {% for convocationPubliee in convocationsPubliees %}
                <tr>
                    <td><a href="index.php?action=informationsConvocation&num={{ convocationPubliee['NumConvoc'] }}" class="btn" role="button" style="text-align: left; width: 100%">
                            {{ convocationPubliee['Competition'] }} - {{ convocationPubliee['Equipe'] }} (le {{ convocationPubliee['Date']|date("d/m/Y") }})</a></td>
                    <td><form method="post" action="index.php?action=depublier">
                            <input type="hidden" name="num" value="{{ convocationPubliee['NumConvoc'] }}" />
                            <button type="submit" class="btn btn-outline-secondary border-0"><i class="fa fa-eye-slash"></i></button></form></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucune convocation publiée</td>
                    </tr>
            {% endfor %}
        </table>
    </div>
</div>

{#<div class="row pt-5">#}
{#    <h1>Supprimer des convocations</h1>#}
{#    <div class="col-5">#}
{#        <h2>Pour un Joueur :</h2>#}
{#        <form method="post" action="index.php?action=supprimerConvocationsJoueur">#}
{#            <div class="form-group row">#}
{#                <label for="convocationsJoueur" class="col-2 col-form-label"> Joueur : </label>#}
{#                <div class="col">#}
{#                    <select name="idJoueur" id="convocationsMatchJoueur" class="form-select">#}
{#                    {% for joueur in joueurs %}#}
{#                        <option value="{{ joueur['IdJoueur'] }}">{{ joueur['Prenom'] }} {{ joueur['Nom'] }}</option>#}
{#                    {% endfor %}#}
{#                    </select>#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-group row justify-content-center mt-2">#}
{#                <button type="submit" class="btn btn-danger col-5">Supprimer</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</div>#}


<div class="row pt-5">
    <h1>Ajouter une Convocation</h1>
    <form method="post" action="index.php?action=ajouterConvocation">
        <div class="form-group row mb-3">
            <label for="convocationMatch" class="col-1 col-form-label">Match : </label>
            <div class="col-7">
                <select name="num" id="convocationMatch" class="form-select">
                {% for match in matchs %}
                    <option value="{{ match['NumMatch'] }}">{{ match['Competition'] }} - {{ match['Equipe'] }} le {{ match['Date']|date("d/m/Y") }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                    {% for i in 1..7 %}
                        <div class="form-group row">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend col-2">
                                    <label for="convocationJoueur{{ i }}" class="input-group-text">Joueur {{ i }} </label>
                                </div>
                                <div class="col">
                                    <select name="idJoueur{{ i }}" id="convocationJoueur{{ i }}" class="form-select" {% if i <= 11 %} required {% endif %} >
                                        <option value="" selected>choix</option>
                                    {% for joueur in joueurs %}
                                        <option value="{{ joueur['IdJoueur'] }}">{{ joueur['Prenom'] }} {{ joueur['Nom'] }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div class="col-6">
                {% for i in 8..14 %}
                    <div class="form-group row">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend col-2">
                                <label for="convocationJoueur{{ i }}" class="input-group-text">Joueur {{ i }} </label>
                            </div>
                            <div class="col">
                                <select name="idJoueur{{ i }}" id="convocationJoueur{{ i }}" class="form-select" {% if i <= 11 %} required {% endif %} >
                                    <option value="" selected>choix</option>
                                    {% for joueur in joueurs %}
                                        <option value="{{ joueur['IdJoueur'] }}">{{ joueur['Prenom'] }} {{ joueur['Nom'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group row justify-content-center mt-2">
            <button type="submit" class="btn btn-primary col-3">Ajouter</button>
        </div>
    </form>
</div>

{% endblock %}

