{% extends "gabarit.twig" %}

{% block isMatch %}
    active
{% endblock %}


{% block title %}
Convocations sportives
{% endblock %}

{% block contenu %}
<!---------------------- MATCHS ---------------------->

<div class="row pt-5">
    <div class="col">
        <h1>Matchs Programmés</h1>
        <table class="table border table-hover table-striped">
            <thead>
                <tr>
                    <th>Categorie</th>
                    <th>Competition</th>
                    <th>Equipe</th>
                    <th>Equipe adverse</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Terrain</th>
                    <th>Site</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>

            {% for match in matchs %}
                <tr>
                    <td>{{ match['Categorie'] }}</td>
                    <td>{{ match['Competition'] }}</td>
                    <td>{{ match['Equipe'] }}</td>
                    <td>{{ match['EquipeAdverse'] }}</td>
                    <td>{{ match['Date']|date("d/m/Y") }}</td>
                    <td>{{ match['Heure'] }}</td>
                    <td>{{ match['Terrain'] }}</td>
                    <td>{{ match['Site'] }}</td>
                    <td><form method="post" action="index.php?action=accesModifierMatch&num={{ match['NumMatch'] }}">
                            <button type="submit" class="btn btn-outline-dark border-0"><i class="fa fa-pen"></i></button>
                        </form></td>
                    <td><form method="post" action="index.php?action=supprimerMatch">
                            <input type="hidden" name="num" value="{{ match['NumMatch'] }}" />
                            <button type="submit" class="btn btn-danger border-0"><i class="fa fa-times"></i></button>
                        </form></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun match programmé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row pt-5">
    <h1>Programmer un Match</h1>
    <form method="post" action="index.php?action=ajouterMatch">
        <div class="form-group row">
            <label for="categorieMatch" class="col-3 col-form-label">Catégorie : </label>
            <div class="col-6">
                <select name="categorie" id="categorieMatch" class="form-select">
                    {% for categorie in categories %}
                        <option value="{{ categorie['Nom'] }}">{{ categorie['Nom'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="competitionMatch" class="col-3 col-form-label">Compétition : </label>
            <div class="col-6">
                <select name="competition" id="competitionMatch" class="form-select">
                    {% for competition in competitions %}
                        <option value="{{ competition['Nom'] }}">{{ competition['Nom'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="equipeMatch" class="col-3 col-form-label">Equipe : </label>
            <div class="col-6">
                <select name="equipe" id="equipeMatch" class="form-select">
                    {% for equipe in equipes %}
                        <option value="{{ equipe['Nom'] }}">{{ equipe['Nom'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row pt-2">
            <label for="equipeAdvMatch" class="col-3 col-form-label">Equipe adverse : </label>
            <div class="col-6">
                <input type="text" name="equipeadv" id="equipeAdvMatch" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="dateCompetition" class="col-3 col-form-label">Date de la compétition : </label>
            <div class="col-6">
                <input type="date" name="date" id="dateCompetition" min="2020-08-01" max="2021-07-31" class="form-control" required>
            </div>
        </div>

        <div class="form-group row pt-2">
            <label for="heureCompetition" class="col-3 col-form-label">Heure de la compétition : </label>
            <div class="col-6">
                <input type="time" name="heure" id="heureCompetition" class="form-control" required>
            </div>
        </div>

        <div class="form-group row pt-2">
            <label for="terrain" class="col-3 col-form-label">Terrain : </label>
            <div class="col-6">
                <input type="text" id="terrain" name="terrain" size="12" class="form-control">
            </div>
        </div>

        <div class="form-group row pt-2">
            <label for="site" class="col-3 col-form-label">Site : </label>
            <div class="col-6">
                <input type="text" id="site" name="site" size="12" class="form-control">
            </div>
        </div>


        <div class="form-group row justify-content-center pt-2">
            <button type="submit" class="btn btn-primary col-5">Ajouter</button>
        </div>
    </form>
</div>


<script>
    // var today = new Date().toISOString().split('T')[0];
    // document.querySelector('input[type=date]').setAttribute('min', today);

    var date = document.querySelector('input[type=date]');
    function weekEnd(e) {
        var jour = new Date(e.target.value).getUTCDay();
        if(jour == 0){
            e.target.setCustomValidity('');

        } else {
            e.target.setCustomValidity('Veuillez choisir une date valide (Dimanche)');
        }
    }
    date.addEventListener('change',weekEnd);
</script>

{% endblock %}