{% extends "gabarit.twig" %}

{% block isAccueil %}
    active
{% endblock %}

{% block title %}
    Convocations sportives - Accueil
{% endblock %}

{% block contenu %}


{############# ACCUEIL #############}
{% if role != 'V' %}
    <div class="alert alert-success alert-dismissible fade show mt-5 mb-0" role="alert">
        <strong>Bienvenue {{ nomUtilisateur }}</strong>, vous êtes connecté en tant {% if role == 'S'%} que <strong>Secrétaire</strong>.{% else %} qu'<strong>Entraîneur</strong>.{% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<div class="row pt-5">
    <div class="col-6">
        <h1 class="mb-3">Joueurs du club</h1>
        <div class="row">
            <table class="table border table-striped table-hover">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Licence</th>
                        {% if role == 'S' %}
                        <th class="text-center">Supprimer</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for joueur in joueurs %}
                    <tr>
                        <td>{{ joueur['Prenom'] }}</td>
                        <td>{{ joueur['Nom'] }}</td>
                        <td>{{ joueur['Categorie'] }}</td>
                        <td>{{ joueur['Licence'] }}</td>
                        {% if role == 'S' %}
                        <td class="text-center"><form method="post" action="index.php?action=supprimerJoueur">
                                <input type="hidden" name="idJoueur" value="{{ joueur['IdJoueur'] }}" />
                                <button type="submit" class="btn btn-outline-danger border-0"><i class="fa fa-user-slash"></i></button>
                            </form></td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun joueur</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="offset-1 col-5"
        {% if role == 'S' %}
        <div class="row pt-5 mb-5">
            <h1 class="mb-3">Ajouter un joueur</h1>
            <form method="post" action="index.php?action=ajouterJoueur">
                <div class="form-group row">
                    <label for="nomJoueur" class="col-4 col-form-label">Nom : </label>
                    <div class="col">
                        <input type="text" name="nom" id="nomJoueur" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="prenomJoueur" class="col-4 col-form-label">Prénom : </label>
                    <div class="col">
                        <input type="text" name="prenom" id="prenomJoueur" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="categorieJoueur" class="col-4 col-form-label">Catégorie : </label>
                    <div class="col">
                        <select name="categorie" id="categorieJoueur" class="form-select" >
                            {% for categorie in categories %}
                                <option value="{{ categorie['Nom'] }}">{{ categorie['Nom'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="licence" class="col-4 col-form-label">Type de licence : </label>
                    <div class="col">
                        <input type="text" name="licence" id="licence" class="form-control" value="Libre" required>
                    </div>
                </div>

                <div class="form-group row justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary col-5">Ajouter</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>

</div>


{% endblock %}

